<!DOCTYPE html>
<html lang="ja">
<head>
    <mata charset="utf-8">
    <title><%= @title %></title>
</head>
<body>
    <h1>Application is running!</h1>
    <ul>
        hahaha
    </ul>
</body>
</html>
